server_name: "synapse-chat.insomniafest.ru"
pid_file: /data/homeserver.pid

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client, federation]
        compress: false

database:
  name: psycopg2
  args:
    user: synapse
    password: "${POSTGRES_PASSWORD}"
    database: synapse
    host: postgres
    cp_min: 5
    cp_max: 10
  allow_unsafe_locale: true

enable_registration: false
enable_registration_without_verification: false

log_config: "/data/matrix.chat.log.config"
media_store_path: /data/media_store

registration_shared_secret: "${SYNAPSE_REGISTRATION_SHARED_SECRET}"
macaroon_secret_key: "${MACAROON_SECRET_KEY}"
form_secret: "${FORM_SECRET}"

signing_key_path: "/data/matrix.chat.signing.key"
old_signing_keys:
  "ed25519:a_cROW":
    key: "l4W7rinLcOWt3XdOq7QcmWwRjk5UAGdARj03Qku1O0Q"
    expired_ts: 1766112000000

trusted_key_servers:
  - server_name: "matrix.org"

report_stats: false
