name: CI/CD - main & dev

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SRV_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SRV_HOST }} >> ~/.ssh/known_hosts

    - name: Deploy via SSH
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.SRV_USER_NAME }}@${{ secrets.SRV_HOST }} 'bash -s' << 'ENDSSH'
          set -e
          BRANCH="main"
          DIR="/opt/insomnia-app/chat"
          REPO="https://github.com/'"${GITHUB_REPOSITORY}"'"

          mkdir -p "$DIR"
          cd "$DIR"
          
          # Проверяем, существует ли директория и является ли она репозиторием Git 
          if [ ! -d "$DIR/.git" ]; then
            # Если нет, то клонируем репозиторий
            git clone -b "$BRANCH" "$REPO" "$DIR"
            cd "$DIR"
          else
            # Если да, то переходим в директорию и выполняем git pull
            cd "$DIR"
            git fetch origin "$BRANCH"
            git checkout "$BRANCH"
            git pull origin "$BRANCH"
          fi

          docker compose down || true
          docker compose build
          docker compose up -d
        ENDSSH
